$radial-picker-title-color: white !default;
$radial-picker-title-btn-height: 70px !default;
$radial-picker-landscape-title-btn-height: 55px !default;
$radial-picker-ampm-title-margin-start: 8px !default;
$radial-picker-ampm-title-margin-bottom: 6px !default;
$radial-picker-ampm-title-margin: 0 0 $radial-picker-ampm-title-margin-bottom
  $radial-picker-ampm-title-margin-start !default; // TODO: remove in 3.0
$radial-picker-ampm-title-margin-ltr: $radial-picker-ampm-title-margin !default;
$radial-picker-ampm-title-margin-rtl: 0 $radial-picker-ampm-title-margin-start
  $radial-picker-ampm-title-margin-bottom 0 !default;
$radial-picker-ampm-title-font-size: 16px !default;
$radial-picker-landscape-ampm-title-margin: 16px 0 0 !default;
$radial-picker-number-font-size: 16px !default;
$radial-picker-indicator-size: 40px !default;
$radial-picker-clock-padding: 10px !default;
$radial-picker-clock-max-width: 290px !default;
$radial-picker-clock-hand-height: calc(50% - 4px) !default;
$radial-picker-clock-hand-width: 2px !default;
$radial-picker-clock-hand-left: calc(50% - 1px) !default;
$radial-picker-clock-center-size: 8px !default;
$radial-picker-clock-end-size: 10px !default;
$radial-picker-clock-end-top: -4px !default;
$radial-picker-clock-inner-hand-height: 14px !default;
$radial-picker-clock-inner-offset: 27px !default;
$radial-picker-ampm-padding: 10px !default;
$radial-picker-clock-end-border-width: 2px !default;
$radial-picker-clock-end-border-style: solid !default;
$radial-picker-clock-end-border-color: inherit !default;
$picker-border-radius: 4px !default;
$picker-title-padding: 16px !default;
$picker-inactive-btn-opacity: 0.6 !default;
$picker-active-btn-opacity: 1 !default;
$picker-landscape-title-width: 170px !default;
$picker-font-size: 1rem !default;
